.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: all 0.2s;
  }
  
  .card:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
  }
  
  .card-item {
    display: flex;
    padding: var(--size-x-small, 20px);
    align-items: center;
    gap: 16px;
    align-self: stretch;
  }
  
  .card-item:hover {
    color: blue;
  }
  
  [type="button"],[type="reset"],[type="submit"],button{-webkit-appearance:button;color:#141414}
  /*! component element list deal type */
.list-deal-group{padding:0}
.list-deal-group .list-item{border-bottom:1px solid #eee}
.list-deal-group .section-tap{display:block;width:100%;text-align:left;padding:2rem 2rem}
.list-deal-group [class^="row-"]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
.list-deal-group .row-date{margin-bottom:0.8rem}
.list-deal-group .row-date .txt-date{font-size:1.4rem;line-height:1.42857;font-weight:400;color:#9b9b9b}
.list-deal-group .row-head{margin-bottom:0.9rem}
.list-deal-group .row-head > span{color:#b8b8b8}
.list-deal-group .row-tit{-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.list-deal-group .row-state{margin-top:0.4rem}
.list-deal-group .row-state .txt-sum{-webkit-box-flex:1;-ms-flex:1;flex:1;text-align:right}
.list-deal-group .area-date{display:-webkit-box;display:-ms-flexbox;display:flex}
.list-deal-group .area-date span{font-size:1.4rem;line-height:1.42857;font-weight:400}
.list-deal-group .area-date span + span{position:relative;margin-left:0.8rem;padding-left:0.8rem}
.list-deal-group .area-date span + span:before{content:'';display:block;position:absolute;left:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);width:0.1rem;height:1rem;background:#e0e0e0}
.list-deal-group .area-date .txt-time{color:#9b9b9b}
.list-deal-group .txt-detail{font-size:1.6rem;line-height:1.3125;font-weight:500}
.list-deal-group .txt-amount{font-size:1.6rem;line-height:1.3125;font-weight:bold}
.list-deal-group .txt-amount strong{font-size:2.1rem;line-height:1.28571;font-weight:bold}
.list-deal-group .txt-amount strong + strong{margin-left:-0.2rem}
.list-deal-group .txt-amount em{font-size:1.6rem;line-height:1.3125;font-weight:bold;margin-right:0.2rem}
.list-deal-group .txt-amount.secondary1-1{color:#0150ff}
.list-deal-group .txt-amount.fail{color:#f02727;position:relative}
.list-deal-group .txt-amount.fail:after{content:'';display:block;position:absolute;top:50%;left:0;width:100%;height:0.2rem;background-color:#f02727}
.list-deal-group .txt-memo{font-size:1.4rem;line-height:1.42857;font-weight:400;color:#9b9b9b}
.list-deal-group .txt-memo .txt + .txt:before{content:'';display:inline-block;width:0.1rem;height:1rem;background:#e0e0e0;margin:0 0.8rem 0 0.5rem}
.list-deal-group .txt-sum{font-size:1.4rem;line-height:1.42857;font-weight:400;color:#9b9b9b}
.list-deal-group .txt-sum.darkgray2{color:#7d7d7d}
.list-deal-group .txt-sum em{margin-left:0.4rem}
.list-deal-group.box .list-item{border:1px solid #eee;border-radius:1rem}
.list-deal-group .list-top-sort{padding:0 2rem;font-size:1.5rem;line-height:2rem;color:#7d7d7d}
.list-deal-group .list-row + .list-top-sort{margin-top:1.2rem}
.list-deal-head{padding:2.4rem 2rem 1.2rem}
.list-deal-head .tit-head{font-size:1.6rem;color:#7d7d7d}
.card-list-tap{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.list-deal-group.type2 .txt-detail{-o-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.list-deal-group.type2 .txt-detail .transport{margin-bottom:0.4rem}
.list-deal-group.type2 .txt-detail + .tag{margin-left:0.4rem}
.list-deal-group.type2 .section-tap{padding-left:6.8rem;position:relative}
.list-deal-group.type2 .no-ico .section-tap{padding-left:2rem}
.list-deal-group.type2 .section-tap .row-head{position:absolute;left:2rem;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.list-deal-group.type2 .txt-amount{text-align:right;margin-left:1.6rem;-webkit-box-flex:1;-ms-flex:1 0 auto;flex:1 0 auto}
.list-deal-group.type2 .txt-amount.fail:after{display:none}
.list-deal-group.type2 .txt-amount.fail strong:after{content:'';display:block;position:absolute;top:50%;left:0;width:100%;height:0.2rem;background-color:#f02727}
.list-deal-group.type2 .txt-amount strong{font-size:1.6rem;position:relative}
.list-deal-group.type2 .txt-amount.d-flex-dr-c .txt-sum{margin-top:0.4rem}
.list-deal-group.type2 .txt-memo .txt{color:#7d7d7d}
.list-deal-group.type2 .txt-sum{color:#7d7d7d}
.card-list-stit{padding:2.4rem 2rem 1.2rem;font-size:1.6rem;color:#7d7d7d}
/*! component element list deal type > transfer-result */
.transfer-result-group .list-item:only-child{border-bottom:0}
.transfer-result-group .list-item:only-child:after{content:'';display:block;width:100%;height:0.8rem;background-color:#f8f8f8;border-top:1px solid #eee}
.list-deal-group.transfer-result-group .txt-detail{-webkit-box-flex:1;-ms-flex:1;flex:1}
/*! component element list toggle type */