@font-face {
	font-family: 'NotoSans-Thin';
	font-style: normal;
	font-weight: 100;
	src: url(/resource/css/cmm/font/NotoSansKR-Thin-Hestia.eot),
	url(/resource/css/cmm/font/NotoSansKR-Thin-Hestia.eot?#iefix) format('embedded-opentype'),
	url(/resource/css/cmm/font/NotoSansKR-Thin-Hestia.woff) format('woff'),
	url(/resource/css/cmm/font/NotoSansKR-Thin-Hestia.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSans-Light';
	font-style: normal;
	font-weight: 300;
	src: url(/resource/css/cmm/font/NotoSansKR-Light-Hestia.eot),
	url(/resource/css/cmm/font/NotoSansKR-Light-Hestia.eot?#iefix) format('embedded-opentype'),
	url(/resource/css/cmm/font/NotoSansKR-Light-Hestia.woff) format('woff'),
	url(/resource/css/cmm/font/NotoSansKR-Light-Hestia.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSans-DemiLight';
	font-style: normal;
	font-weight: 350;
	src: url(/resource/css/cmm/font/NotoSansKR-DemiLight-Hestia.eot),
	url(/resource/css/cmm/font/NotoSansKR-DemiLight-Hestia.eot?#iefix) format('embedded-opentype'),
	url(/resource/css/cmm/font/NotoSansKR-DemiLight-Hestia.woff) format('woff'),
	url(/resource/css/cmm/font/NotoSansKR-DemiLight-Hestia.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSans-Regular';
	font-style: normal;
	font-weight: 400;
	src: url(/resource/css/cmm/font/NotoSansKR-Regular-Hestia.eot),
	url(/resource/css/cmm/font/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype'),
	url(/resource/css/cmm/font/NotoSansKR-Regular-Hestia.woff) format('woff'),
	url(/resource/css/cmm/font/NotoSansKR-Regular-Hestia.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSans-Medium';
	font-style: normal;
	font-weight: 500;
	src: url(/resource/css/cmm/font/NotoSansKR-Medium-Hestia.eot),
	url(/resource/css/cmm/font/NotoSansKR-Medium-Hestia.eot?#iefix) format('embedded-opentype'),
	url(/resource/css/cmm/font/NotoSansKR-Medium-Hestia.woff) format('woff'),
	url(/resource/css/cmm/font/NotoSansKR-Medium-Hestia.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSans-Bold';
	font-style: normal;
	font-weight: 700;
	src: url(/resource/css/cmm/font/NotoSansKR-Bold-Hestia.eot),
	url(/resource/css/cmm/font/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype'),
	url(/resource/css/cmm/font/NotoSansKR-Bold-Hestia.woff) format('woff'),
	url(/resource/css/cmm/font/NotoSansKR-Bold-Hestia.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSans-Black';
	font-style: normal;
	font-weight: 900;
	src: url(/resource/css/cmm/font/NotoSansKR-Black-Hestia.eot),
	url(/resource/css/cmm/font/NotoSansKR-Black-Hestia.eot?#iefix) format('embedded-opentype'),
	url(/resource/css/cmm/font/NotoSansKR-Black-Hestia.woff) format('woff'),
	url(/resource/css/cmm/font/NotoSansKR-Black-Hestia.otf) format('opentype');
}