:root {
    --b-11-font-family: "PretendardK Edition-Bold", Helvetica;
    --b-11-font-size: 11px;
    --b-11-font-style: normal;
    --b-11-font-weight: 700;
    --b-11-letter-spacing: 0px;
    --b-11-line-height: 15px;
    --b-12-font-family: "PretendardK Edition-Bold", Helvetica;
    --b-12-font-size: 12px;
    --b-12-font-style: normal;
    --b-12-font-weight: 700;
    --b-12-letter-spacing: 0px;
    --b-12-line-height: 16px;
    --b-14-font-family: "PretendardK Edition-Bold", Helvetica;
    --b-14-font-size: 14px;
    --b-14-font-style: normal;
    --b-14-font-weight: 700;
    --b-14-letter-spacing: 0px;
    --b-14-line-height: 20px;
    --b-15-font-family: "PretendardK Edition-Bold", Helvetica;
    --b-15-font-size: 15px;
    --b-15-font-style: normal;
    --b-15-font-weight: 700;
    --b-15-letter-spacing: 0px;
    --b-15-line-height: 20px;
    --b-16-font-family: "PretendardK Edition-Bold", Helvetica;
    --b-16-font-size: 16px;
    --b-16-font-style: normal;
    --b-16-font-weight: 700;
    --b-16-letter-spacing: 0px;
    --b-16-line-height: 21px;
    --b-18-font-family: "PretendardK Edition-Bold", Helvetica;
    --b-18-font-size: 18px;
    --b-18-font-style: normal;
    --b-18-font-weight: 700;
    --b-18-letter-spacing: 0px;
    --b-18-line-height: 25px;
    --b-21-font-family: "PretendardK Edition-Bold", Helvetica;
    --b-21-font-size: 21px;
    --b-21-font-style: normal;
    --b-21-font-weight: 700;
    --b-21-letter-spacing: 0px;
    --b-21-line-height: 27px;
    --b-24-font-family: "PretendardK Edition-Bold", Helvetica;
    --b-24-font-size: 24px;
    --b-24-font-style: normal;
    --b-24-font-weight: 700;
    --b-24-letter-spacing: 0px;
    --b-24-line-height: 33px;
    --b-26-font-family: "PretendardK Edition-Bold", Helvetica;
    --b-26-font-size: 26px;
    --b-26-font-style: normal;
    --b-26-font-weight: 700;
    --b-26-letter-spacing: 0px;
    --b-26-line-height: 34px;
    --b-28-font-family: "PretendardK Edition-Bold", Helvetica;
    --b-28-font-size: 28px;
    --b-28-font-style: normal;
    --b-28-font-weight: 700;
    --b-28-letter-spacing: 0px;
    --b-28-line-height: 36px;
    --b-32-font-family: "PretendardK Edition-Bold", Helvetica;
    --b-32-font-size: 32px;
    --b-32-font-style: normal;
    --b-32-font-weight: 700;
    --b-32-letter-spacing: 0px;
    --b-32-line-height: 42px;
    --brandpl: var(--core-color-brand-pl);
    --brandpn: var(--core-color-brand-pn);
    --card-100: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    --card-200: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
    --card-300: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
    --comp-100: 0px 2px 2px 0px rgba(0, 0, 0, 0.06);
    --comp-200: 0px 2px 6px 0px rgba(0, 0, 0, 0.12);
    --comp-300: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
    --comp-reverse-100: 0px -1px 4px 0px rgba(0, 0, 0, 0.06);
    --core-color-black-pb10: rgba(0, 0, 0, 0.1);
    --core-color-black-pb100: rgba(0, 0, 0, 1);
    --core-color-black-pb20: rgba(0, 0, 0, 0.2);
    --core-color-black-pb30: rgba(0, 0, 0, 0.3);
    --core-color-black-pb40: rgba(0, 0, 0, 0.4);
    --core-color-black-pb5: rgba(0, 0, 0, 0.05);
    --core-color-black-pb50: rgba(0, 0, 0, 0.5);
    --core-color-black-pb7: rgba(0, 0, 0, 0.07);
    --core-color-black-pb70: rgba(0, 0, 0, 0.7);
    --core-color-black-pb85: rgba(0, 0, 0, 0.85);
    --core-color-brand-pl: rgba(182, 242, 61, 1);
    --core-color-brand-pn: rgba(23, 0, 140, 1);
    --core-color-grey-cool-cg300: rgba(241, 246, 251, 1);
    --core-color-grey-cool-cg400: rgba(235, 236, 240, 1);
    --core-color-grey-cool-cg500: rgba(230, 235, 245, 1);
    --core-color-grey-cool-cg600: rgba(166, 166, 179, 1);
    --core-color-grey-warm-g100: rgba(248, 248, 248, 1);
    --core-color-grey-warm-g200: rgba(238, 238, 238, 1);
    --core-color-grey-warm-g300: rgba(224, 224, 224, 1);
    --core-color-grey-warm-g400: rgba(199, 199, 199, 1);
    --core-color-grey-warm-g500: rgba(184, 184, 184, 1);
    --core-color-grey-warm-g600: rgba(155, 155, 155, 1);
    --core-color-grey-warm-g700: rgba(125, 125, 125, 1);
    --core-color-grey-warm-g800: rgba(65, 65, 65, 1);
    --core-color-grey-warm-g900: rgba(20, 20, 20, 1);
    --core-color-ramp-blue-bu100: rgba(186, 226, 255, 1);
    --core-color-ramp-blue-bu200: rgba(150, 209, 255, 1);
    --core-color-ramp-blue-bu300: rgba(113, 190, 255, 1);
    --core-color-ramp-blue-bu400: rgba(75, 171, 255, 1);
    --core-color-ramp-blue-bu50: rgba(224, 242, 255, 1);
    --core-color-ramp-blue-bu500: rgba(28, 151, 255, 1);
    --core-color-ramp-blue-bu600: rgba(0, 130, 255, 1);
    --core-color-ramp-blue-bu700: rgba(0, 106, 255, 1);
    --core-color-ramp-blue-bu800: rgba(1, 80, 255, 1);
    --core-color-ramp-blue-bu900: rgba(0, 63, 199, 1);
    --core-color-ramp-celery-ce100: rgba(174, 246, 157, 1);
    --core-color-ramp-celery-ce200: rgba(150, 238, 133, 1);
    --core-color-ramp-celery-ce300: rgba(114, 224, 106, 1);
    --core-color-ramp-celery-ce400: rgba(78, 207, 80, 1);
    --core-color-ramp-celery-ce50: rgba(205, 252, 191, 1);
    --core-color-ramp-celery-ce500: rgba(39, 187, 54, 1);
    --core-color-ramp-celery-ce600: rgba(7, 167, 33, 1);
    --core-color-ramp-celery-ce700: rgba(0, 145, 18, 1);
    --core-color-ramp-celery-ce800: rgba(0, 124, 15, 1);
    --core-color-ramp-celery-ce900: rgba(0, 103, 15, 1);
    --core-color-ramp-cyan-cy100: rgba(164, 240, 255, 1);
    --core-color-ramp-cyan-cy200: rgba(136, 231, 250, 1);
    --core-color-ramp-cyan-cy300: rgba(96, 216, 243, 1);
    --core-color-ramp-cyan-cy400: rgba(51, 197, 232, 1);
    --core-color-ramp-cyan-cy50: rgba(197, 248, 255, 1);
    --core-color-ramp-cyan-cy500: rgba(18, 176, 218, 1);
    --core-color-ramp-cyan-cy600: rgba(1, 156, 200, 1);
    --core-color-ramp-cyan-cy700: rgba(0, 134, 180, 1);
    --core-color-ramp-cyan-cy800: rgba(0, 116, 162, 1);
    --core-color-ramp-cyan-cy900: rgba(0, 94, 138, 1);
    --core-color-ramp-fuchisa-fu100: rgba(253, 226, 253, 1);
    --core-color-ramp-fuchisa-fu200: rgba(252, 212, 252, 1);
    --core-color-ramp-fuchisa-fu300: rgba(250, 193, 249, 1);
    --core-color-ramp-fuchisa-fu400: rgba(249, 170, 247, 1);
    --core-color-ramp-fuchisa-fu50: rgba(255, 240, 254, 1);
    --core-color-ramp-fuchisa-fu500: rgba(246, 143, 245, 1);
    --core-color-ramp-fuchisa-fu600: rgba(242, 111, 240, 1);
    --core-color-ramp-fuchisa-fu700: rgba(237, 85, 235, 1);
    --core-color-ramp-fuchisa-fu800: rgba(231, 66, 228, 1);
    --core-color-ramp-fuchisa-fu900: rgba(215, 40, 213, 1);
    --core-color-ramp-green-gn100: rgba(173, 244, 206, 1);
    --core-color-ramp-green-gn200: rgba(137, 236, 188, 1);
    --core-color-ramp-green-gn300: rgba(103, 222, 168, 1);
    --core-color-ramp-green-gn400: rgba(73, 204, 147, 1);
    --core-color-ramp-green-gn50: rgba(206, 248, 224, 1);
    --core-color-ramp-green-gn500: rgba(47, 184, 128, 1);
    --core-color-ramp-green-gn600: rgba(21, 164, 110, 1);
    --core-color-ramp-green-gn700: rgba(0, 143, 93, 1);
    --core-color-ramp-green-gn800: rgba(0, 122, 77, 1);
    --core-color-ramp-green-gn900: rgba(0, 101, 62, 1);
    --core-color-ramp-indigo-in100: rgba(225, 225, 254, 1);
    --core-color-ramp-indigo-in200: rgba(211, 210, 254, 1);
    --core-color-ramp-indigo-in300: rgba(191, 190, 253, 1);
    --core-color-ramp-indigo-in400: rgba(167, 165, 253, 1);
    --core-color-ramp-indigo-in50: rgba(239, 239, 255, 1);
    --core-color-ramp-indigo-in500: rgba(148, 147, 252, 1);
    --core-color-ramp-indigo-in600: rgba(118, 115, 251, 1);
    --core-color-ramp-indigo-in700: rgba(92, 89, 249, 1);
    --core-color-ramp-indigo-in800: rgba(73, 70, 247, 1);
    --core-color-ramp-indigo-in900: rgba(43, 39, 241, 1);
    --core-color-ramp-lime-lm100: rgba(192, 240, 62, 1);
    --core-color-ramp-lime-lm200: rgba(176, 225, 50, 1);
    --core-color-ramp-lime-lm300: rgba(152, 210, 37, 1);
    --core-color-ramp-lime-lm400: rgba(129, 195, 23, 1);
    --core-color-ramp-lime-lm50: rgba(219, 252, 110, 1);
    --core-color-ramp-lime-lm500: rgba(105, 180, 5, 1);
    --core-color-ramp-lime-lm600: rgba(99, 158, 0, 1);
    --core-color-ramp-lime-lm700: rgba(91, 137, 0, 1);
    --core-color-ramp-lime-lm800: rgba(82, 116, 0, 1);
    --core-color-ramp-lime-lm900: rgba(72, 96, 0, 1);
    --core-color-ramp-magenta-mg100: rgba(255, 220, 232, 1);
    --core-color-ramp-magenta-mg200: rgba(255, 202, 221, 1);
    --core-color-ramp-magenta-mg300: rgba(255, 178, 206, 1);
    --core-color-ramp-magenta-mg400: rgba(255, 149, 189, 1);
    --core-color-ramp-magenta-mg50: rgba(255, 234, 241, 1);
    --core-color-ramp-magenta-mg500: rgba(250, 119, 170, 1);
    --core-color-ramp-magenta-mg600: rgba(239, 90, 152, 1);
    --core-color-ramp-magenta-mg700: rgba(222, 61, 130, 1);
    --core-color-ramp-magenta-mg800: rgba(200, 34, 105, 1);
    --core-color-ramp-magenta-mg900: rgba(173, 9, 85, 1);
    --core-color-ramp-orange-og100: rgba(255, 223, 173, 1);
    --core-color-ramp-orange-og600: rgba(228, 111, 0, 1);
    --core-color-ramp-purple-pu100: rgba(243, 225, 254, 1);
    --core-color-ramp-purple-pu200: rgba(237, 210, 254, 1);
    --core-color-ramp-purple-pu300: rgba(229, 190, 253, 1);
    --core-color-ramp-purple-pu400: rgba(219, 165, 253, 1);
    --core-color-ramp-purple-pu50: rgba(249, 239, 255, 1);
    --core-color-ramp-purple-pu500: rgba(209, 141, 252, 1);
    --core-color-ramp-purple-pu600: rgba(199, 115, 251, 1);
    --core-color-ramp-purple-pu700: rgba(188, 89, 249, 1);
    --core-color-ramp-purple-pu800: rgba(179, 70, 247, 1);
    --core-color-ramp-purple-pu900: rgba(164, 37, 244, 1);
    --core-color-ramp-red-re100: rgba(255, 221, 214, 1);
    --core-color-ramp-red-re200: rgba(255, 205, 195, 1);
    --core-color-ramp-red-re300: rgba(255, 183, 169, 1);
    --core-color-ramp-red-re400: rgba(250, 152, 133, 1);
    --core-color-ramp-red-re50: rgba(255, 235, 231, 1);
    --core-color-ramp-red-re500: rgba(255, 124, 101, 1);
    --core-color-ramp-red-re600: rgba(247, 93, 70, 1);
    --core-color-ramp-red-re700: rgba(240, 39, 39, 1);
    --core-color-ramp-red-re800: rgba(211, 20, 15, 1);
    --core-color-ramp-red-re900: rgba(180, 0, 1, 1);
    --core-color-ramp-seaform-sf100: rgba(167, 230, 226, 1);
    --core-color-ramp-seaform-sf200: rgba(128, 213, 209, 1);
    --core-color-ramp-seaform-sf300: rgba(90, 196, 192, 1);
    --core-color-ramp-seaform-sf400: rgba(51, 179, 175, 1);
    --core-color-ramp-seaform-sf50: rgba(206, 247, 243, 1);
    --core-color-ramp-seaform-sf500: rgba(12, 162, 158, 1);
    --core-color-ramp-seaform-sf600: rgba(20, 140, 141, 1);
    --core-color-ramp-seaform-sf700: rgba(27, 117, 123, 1);
    --core-color-ramp-seaform-sf800: rgba(35, 95, 106, 1);
    --core-color-ramp-seaform-sf900: rgba(42, 72, 88, 1);
    --core-color-ramp-violet-vo100: rgba(236, 225, 254, 1);
    --core-color-ramp-violet-vo200: rgba(227, 210, 254, 1);
    --core-color-ramp-violet-vo300: rgba(215, 190, 253, 1);
    --core-color-ramp-violet-vo400: rgba(199, 165, 253, 1);
    --core-color-ramp-violet-vo50: rgba(245, 239, 255, 1);
    --core-color-ramp-violet-vo500: rgba(187, 147, 252, 1);
    --core-color-ramp-violet-vo600: rgba(167, 115, 251, 1);
    --core-color-ramp-violet-vo700: rgba(150, 89, 249, 1);
    --core-color-ramp-violet-vo800: rgba(138, 70, 247, 1);
    --core-color-ramp-violet-vo900: rgba(111, 30, 241, 1);
    --core-color-ramp-yellow-yl100: rgba(248, 231, 80, 1);
    --core-color-ramp-yellow-yl200: rgba(248, 217, 4, 1);
    --core-color-ramp-yellow-yl300: rgba(232, 198, 0, 1);
    --core-color-ramp-yellow-yl400: rgba(215, 179, 0, 1);
    --core-color-ramp-yellow-yl50: rgba(251, 241, 152, 1);
    --core-color-ramp-yellow-yl500: rgba(196, 159, 0, 1);
    --core-color-ramp-yellow-yl600: rgba(176, 140, 0, 1);
    --core-color-ramp-yellow-yl700: rgba(155, 120, 0, 1);
    --core-color-ramp-yellow-yl800: rgba(133, 102, 0, 1);
    --core-color-ramp-yellow-yl900: rgba(112, 83, 0, 1);
    --core-color-white-w0: rgba(255, 255, 255, 0);
    --core-color-white-w10: rgba(255, 255, 255, 0.1);
    --core-color-white-w100: rgba(255, 255, 255, 1);
    --core-color-white-w15: rgba(255, 255, 255, 0.15);
    --core-color-white-w20: rgba(255, 255, 255, 0.2);
    --core-color-white-w50: rgba(255, 255, 255, 0.5);
    --core-color-white-w65: rgba(255, 255, 255, 0.65);
    --core-color-white-w70: rgba(255, 255, 255, 0.7);
    --core-color-white-w80: rgba(255, 255, 255, 0.8);
    --core-color-white-w85: rgba(255, 255, 255, 0.85);
    --core-height-large: 56px;
    --core-height-medium: 48px;
    --core-height-small: 32px;
    --core-size-small: 24px;
    --core-size-x-small: 20px;
    --guidecomponent-guide: rgba(151, 71, 255, 1);
    --m-11-font-family: "PretendardK Edition-Medium", Helvetica;
    --m-11-font-size: 11px;
    --m-11-font-style: normal;
    --m-11-font-weight: 500;
    --m-11-letter-spacing: 0px;
    --m-11-line-height: 15px;
    --m-12-font-family: "PretendardK Edition-Medium", Helvetica;
    --m-12-font-size: 12px;
    --m-12-font-style: normal;
    --m-12-font-weight: 500;
    --m-12-letter-spacing: 0px;
    --m-12-line-height: 16px;
    --m-14-font-family: "PretendardK Edition-Medium", Helvetica;
    --m-14-font-size: 14px;
    --m-14-font-style: normal;
    --m-14-font-weight: 500;
    --m-14-letter-spacing: 0px;
    --m-14-line-height: 20px;
    --m-15-font-family: "PretendardK Edition-Medium", Helvetica;
    --m-15-font-size: 15px;
    --m-15-font-style: normal;
    --m-15-font-weight: 500;
    --m-15-letter-spacing: 0px;
    --m-15-line-height: 20px;
    --m-16-font-family: "PretendardK Edition-Medium", Helvetica;
    --m-16-font-size: 16px;
    --m-16-font-style: normal;
    --m-16-font-weight: 500;
    --m-16-letter-spacing: 0px;
    --m-16-line-height: 21px;
    --m-18-font-family: "PretendardK Edition-Medium", Helvetica;
    --m-18-font-size: 18px;
    --m-18-font-style: normal;
    --m-18-font-weight: 500;
    --m-18-letter-spacing: 0px;
    --m-18-line-height: 25px;
    --m-21-font-family: "PretendardK Edition-Medium", Helvetica;
    --m-21-font-size: 21px;
    --m-21-font-style: normal;
    --m-21-font-weight: 500;
    --m-21-letter-spacing: 0px;
    --m-21-line-height: 27px;
    --m-24-font-family: "PretendardK Edition-Medium", Helvetica;
    --m-24-font-size: 24px;
    --m-24-font-style: normal;
    --m-24-font-weight: 500;
    --m-24-letter-spacing: 0px;
    --m-24-line-height: 33px;
    --m-26-font-family: "PretendardK Edition-Medium", Helvetica;
    --m-26-font-size: 26px;
    --m-26-font-style: normal;
    --m-26-font-weight: 500;
    --m-26-letter-spacing: 0px;
    --m-26-line-height: 34px;
    --m-28-font-family: "PretendardK Edition-Medium", Helvetica;
    --m-28-font-size: 28px;
    --m-28-font-style: normal;
    --m-28-font-weight: 500;
    --m-28-letter-spacing: 0px;
    --m-28-line-height: 36px;
    --m-32-font-family: "PretendardK Edition-Medium", Helvetica;
    --m-32-font-size: 32px;
    --m-32-font-style: normal;
    --m-32-font-weight: 500;
    --m-32-letter-spacing: 0px;
    --m-32-line-height: 42px;
    --r-11-font-family: "PretendardK Edition-Regular", Helvetica;
    --r-11-font-size: 11px;
    --r-11-font-style: normal;
    --r-11-font-weight: 400;
    --r-11-letter-spacing: 0px;
    --r-11-line-height: 15px;
    --r-12-font-family: "PretendardK Edition-Regular", Helvetica;
    --r-12-font-size: 12px;
    --r-12-font-style: normal;
    --r-12-font-weight: 400;
    --r-12-letter-spacing: 0px;
    --r-12-line-height: 16px;
    --r-14-font-family: "PretendardK Edition-Regular", Helvetica;
    --r-14-font-size: 14px;
    --r-14-font-style: normal;
    --r-14-font-weight: 400;
    --r-14-letter-spacing: 0px;
    --r-14-line-height: 20px;
    --r-15-font-family: "PretendardK Edition-Regular", Helvetica;
    --r-15-font-size: 15px;
    --r-15-font-style: normal;
    --r-15-font-weight: 400;
    --r-15-letter-spacing: 0px;
    --r-15-line-height: 20px;
    --r-16-font-family: "PretendardK Edition-Regular", Helvetica;
    --r-16-font-size: 16px;
    --r-16-font-style: normal;
    --r-16-font-weight: 400;
    --r-16-letter-spacing: 0px;
    --r-16-line-height: 21px;
    --r-18-font-family: "PretendardK Edition-Regular", Helvetica;
    --r-18-font-size: 18px;
    --r-18-font-style: normal;
    --r-18-font-weight: 400;
    --r-18-letter-spacing: 0px;
    --r-18-line-height: 25px;
    --r-21-font-family: "PretendardK Edition-Regular", Helvetica;
    --r-21-font-size: 21px;
    --r-21-font-style: normal;
    --r-21-font-weight: 400;
    --r-21-letter-spacing: 0px;
    --r-21-line-height: 27px;
    --r-24-font-family: "PretendardK Edition-Regular", Helvetica;
    --r-24-font-size: 24px;
    --r-24-font-style: normal;
    --r-24-font-weight: 400;
    --r-24-letter-spacing: 0px;
    --r-24-line-height: 33px;
    --r-26-font-family: "PretendardK Edition-Regular", Helvetica;
    --r-26-font-size: 26px;
    --r-26-font-style: normal;
    --r-26-font-weight: 400;
    --r-26-letter-spacing: 0px;
    --r-26-line-height: 34px;
    --r-28-font-family: "PretendardK Edition-Regular", Helvetica;
    --r-28-font-size: 28px;
    --r-28-font-style: normal;
    --r-28-font-weight: 400;
    --r-28-letter-spacing: 0px;
    --r-28-line-height: 36px;
    --r-32-font-family: "PretendardK Edition-Regular", Helvetica;
    --r-32-font-size: 32px;
    --r-32-font-style: normal;
    --r-32-font-weight: 400;
    --r-32-letter-spacing: 0px;
    --r-32-line-height: 42px;
    --rampbluebu-100: var(--core-color-ramp-blue-bu100);
    --rampbluebu-200: var(--core-color-ramp-blue-bu200);
    --rampbluebu-300: var(--core-color-ramp-blue-bu300);
    --rampbluebu-400: var(--core-color-ramp-blue-bu400);
    --rampbluebu-50: var(--core-color-ramp-blue-bu50);
    --rampbluebu-500: var(--core-color-ramp-blue-bu500);
    --rampbluebu-600: var(--core-color-ramp-blue-bu600);
    --rampbluebu-700: var(--core-color-ramp-blue-bu700);
    --rampbluebu-800: var(--core-color-ramp-blue-bu800);
    --rampbluebu-900: var(--core-color-ramp-blue-bu900);
    --rampceleryce-100: var(--core-color-ramp-celery-ce100);
    --rampceleryce-200: var(--core-color-ramp-celery-ce200);
    --rampceleryce-300: var(--core-color-ramp-celery-ce300);
    --rampceleryce-400: var(--core-color-ramp-celery-ce400);
    --rampceleryce-50: var(--core-color-ramp-celery-ce50);
    --rampceleryce-500: var(--core-color-ramp-celery-ce500);
    --rampceleryce-600: var(--core-color-ramp-celery-ce600);
    --rampceleryce-700: var(--core-color-ramp-celery-ce700);
    --rampceleryce-800: var(--core-color-ramp-celery-ce800);
    --rampceleryce-900: var(--core-color-ramp-celery-ce900);
    --rampcyancy-100: var(--core-color-ramp-cyan-cy100);
    --rampcyancy-200: var(--core-color-ramp-cyan-cy200);
    --rampcyancy-300: var(--core-color-ramp-cyan-cy300);
    --rampcyancy-400: var(--core-color-ramp-cyan-cy400);
    --rampcyancy-50: var(--core-color-ramp-cyan-cy50);
    --rampcyancy-500: var(--core-color-ramp-cyan-cy500);
    --rampcyancy-600: var(--core-color-ramp-cyan-cy600);
    --rampcyancy-700: var(--core-color-ramp-cyan-cy700);
    --rampcyancy-800: var(--core-color-ramp-cyan-cy800);
    --rampcyancy-900: var(--core-color-ramp-cyan-cy900);
    --rampfuchisafu-100: var(--core-color-ramp-fuchisa-fu100);
    --rampfuchisafu-200: var(--core-color-ramp-fuchisa-fu200);
    --rampfuchisafu-300: var(--core-color-ramp-fuchisa-fu300);
    --rampfuchisafu-400: var(--core-color-ramp-fuchisa-fu400);
    --rampfuchisafu-50: var(--core-color-ramp-fuchisa-fu50);
    --rampfuchisafu-500: var(--core-color-ramp-fuchisa-fu500);
    --rampfuchisafu-600: var(--core-color-ramp-fuchisa-fu600);
    --rampfuchisafu-700: var(--core-color-ramp-fuchisa-fu700);
    --rampfuchisafu-800: var(--core-color-ramp-fuchisa-fu800);
    --rampfuchisafu-900: var(--core-color-ramp-fuchisa-fu900);
    --rampgreengn-100: var(--core-color-ramp-green-gn100);
    --rampgreengn-200: var(--core-color-ramp-green-gn200);
    --rampgreengn-300: var(--core-color-ramp-green-gn300);
    --rampgreengn-400: var(--core-color-ramp-green-gn400);
    --rampgreengn-50: var(--core-color-ramp-green-gn50);
    --rampgreengn-500: var(--core-color-ramp-green-gn500);
    --rampgreengn-600: var(--core-color-ramp-green-gn600);
    --rampgreengn-700: var(--core-color-ramp-green-gn700);
    --rampgreengn-800: var(--core-color-ramp-green-gn800);
    --rampgreengn-900: var(--core-color-ramp-green-gn900);
    --rampindigoin-100: var(--core-color-ramp-indigo-in100);
    --rampindigoin-200: var(--core-color-ramp-indigo-in200);
    --rampindigoin-300: var(--core-color-ramp-indigo-in300);
    --rampindigoin-400: var(--core-color-ramp-indigo-in400);
    --rampindigoin-50: var(--core-color-ramp-indigo-in50);
    --rampindigoin-500: var(--core-color-ramp-indigo-in500);
    --rampindigoin-600: var(--core-color-ramp-indigo-in600);
    --rampindigoin-700: var(--core-color-ramp-indigo-in700);
    --rampindigoin-800: var(--core-color-ramp-indigo-in800);
    --rampindigoin-900: var(--core-color-ramp-indigo-in900);
    --ramplimelm-100: var(--core-color-ramp-lime-lm100);
    --ramplimelm-200: var(--core-color-ramp-lime-lm200);
    --ramplimelm-300: var(--core-color-ramp-lime-lm300);
    --ramplimelm-400: var(--core-color-ramp-lime-lm400);
    --ramplimelm-50: var(--core-color-ramp-lime-lm50);
    --ramplimelm-500: var(--core-color-ramp-lime-lm500);
    --ramplimelm-600: var(--core-color-ramp-lime-lm600);
    --ramplimelm-700: var(--core-color-ramp-lime-lm700);
    --ramplimelm-800: var(--core-color-ramp-lime-lm800);
    --ramplimelm-900: var(--core-color-ramp-lime-lm900);
    --rampmagentamg-100: var(--core-color-ramp-magenta-mg100);
    --rampmagentamg-200: var(--core-color-ramp-magenta-mg200);
    --rampmagentamg-300: var(--core-color-ramp-magenta-mg300);
    --rampmagentamg-400: var(--core-color-ramp-magenta-mg400);
    --rampmagentamg-50: var(--core-color-ramp-magenta-mg50);
    --rampmagentamg-500: var(--core-color-ramp-magenta-mg500);
    --rampmagentamg-600: var(--core-color-ramp-magenta-mg600);
    --rampmagentamg-700: var(--core-color-ramp-magenta-mg700);
    --rampmagentamg-800: var(--core-color-ramp-magenta-mg800);
    --rampmagentamg-900: var(--core-color-ramp-magenta-mg900);
    --ramporangeog-100: rgba(255, 223, 173, 1);
    --ramporangeog-200: rgba(253, 210, 145, 1);
    --ramporangeog-300: rgba(255, 187, 99, 1);
    --ramporangeog-400: rgba(255, 160, 55, 1);
    --ramporangeog-50: rgba(255, 236, 204, 1);
    --ramporangeog-500: rgba(246, 133, 17, 1);
    --ramporangeog-600: rgba(228, 111, 0, 1);
    --ramporangeog-700: rgba(203, 93, 0, 1);
    --ramporangeog-800: rgba(177, 76, 0, 1);
    --ramporangeog-900: rgba(149, 61, 0, 1);
    --ramppurplepu-100: var(--core-color-ramp-purple-pu100);
    --ramppurplepu-200: var(--core-color-ramp-purple-pu200);
    --ramppurplepu-300: var(--core-color-ramp-purple-pu300);
    --ramppurplepu-400: var(--core-color-ramp-purple-pu400);
    --ramppurplepu-50: var(--core-color-ramp-purple-pu50);
    --ramppurplepu-500: var(--core-color-ramp-purple-pu500);
    --ramppurplepu-600: var(--core-color-ramp-purple-pu600);
    --ramppurplepu-700: var(--core-color-ramp-purple-pu700);
    --ramppurplepu-800: var(--core-color-ramp-purple-pu800);
    --ramppurplepu-900: var(--core-color-ramp-purple-pu900);
    --rampredre-100: var(--core-color-ramp-red-re100);
    --rampredre-200: var(--core-color-ramp-red-re200);
    --rampredre-300: var(--core-color-ramp-red-re300);
    --rampredre-400: var(--core-color-ramp-red-re400);
    --rampredre-50: var(--core-color-ramp-red-re50);
    --rampredre-500: var(--core-color-ramp-red-re500);
    --rampredre-600: var(--core-color-ramp-red-re600);
    --rampredre-700: var(--core-color-ramp-red-re700);
    --rampredre-800: var(--core-color-ramp-red-re800);
    --rampredre-900: var(--core-color-ramp-red-re900);
    --rampseafoamsf-100: var(--core-color-ramp-seaform-sf100);
    --rampseafoamsf-200: var(--core-color-ramp-seaform-sf200);
    --rampseafoamsf-300: var(--core-color-ramp-seaform-sf300);
    --rampseafoamsf-400: var(--core-color-ramp-seaform-sf400);
    --rampseafoamsf-50: var(--core-color-ramp-seaform-sf50);
    --rampseafoamsf-500: var(--core-color-ramp-seaform-sf500);
    --rampseafoamsf-600: var(--core-color-ramp-seaform-sf600);
    --rampseafoamsf-700: var(--core-color-ramp-seaform-sf700);
    --rampseafoamsf-800: var(--core-color-ramp-seaform-sf800);
    --rampseafoamsf-900: var(--core-color-ramp-seaform-sf900);
    --rampvioletvo-100: var(--core-color-ramp-violet-vo100);
    --rampvioletvo-200: var(--core-color-ramp-violet-vo200);
    --rampvioletvo-300: var(--core-color-ramp-violet-vo300);
    --rampvioletvo-400: var(--core-color-ramp-violet-vo400);
    --rampvioletvo-50: var(--core-color-ramp-violet-vo50);
    --rampvioletvo-500: var(--core-color-ramp-violet-vo500);
    --rampvioletvo-600: var(--core-color-ramp-violet-vo600);
    --rampvioletvo-700: var(--core-color-ramp-violet-vo700);
    --rampvioletvo-800: var(--core-color-ramp-violet-vo800);
    --rampvioletvo-900: var(--core-color-ramp-violet-vo900);
    --rampyellowyl-100: var(--core-color-ramp-yellow-yl100);
    --rampyellowyl-200: var(--core-color-ramp-yellow-yl200);
    --rampyellowyl-300: var(--core-color-ramp-yellow-yl300);
    --rampyellowyl-400: var(--core-color-ramp-yellow-yl400);
    --rampyellowyl-50: var(--core-color-ramp-yellow-yl50);
    --rampyellowyl-500: var(--core-color-ramp-yellow-yl500);
    --rampyellowyl-600: var(--core-color-ramp-yellow-yl600);
    --rampyellowyl-700: var(--core-color-ramp-yellow-yl700);
    --rampyellowyl-800: var(--core-color-ramp-yellow-yl800);
    --rampyellowyl-900: var(--core-color-ramp-yellow-yl900);
    --scalegreycoolcg-300: var(--core-color-grey-cool-cg300);
    --scalegreycoolcg-400: var(--core-color-grey-cool-cg400);
    --scalegreycoolcg-500: var(--core-color-grey-cool-cg500);
    --scalegreycoolcg-600: var(--core-color-grey-cool-cg600);
    --scalegreywarmg-100: var(--core-color-grey-warm-g100);
    --scalegreywarmg-200: var(--core-color-grey-warm-g200);
    --scalegreywarmg-300: var(--core-color-grey-warm-g300);
    --scalegreywarmg-400: var(--core-color-grey-warm-g400);
    --scalegreywarmg-500: var(--core-color-grey-warm-g500);
    --scalegreywarmg-600: var(--core-color-grey-warm-g600);
    --scalegreywarmg-700: var(--core-color-grey-warm-g700);
    --scalegreywarmg-800: var(--core-color-grey-warm-g800);
    --scalegreywarmg-900: var(--core-color-grey-warm-g900);
    --scaleopacityblackpb-10: var(--core-color-black-pb10);
    --scaleopacityblackpb-100: var(--core-color-black-pb100);
    --scaleopacityblackpb-20: var(--core-color-black-pb20);
    --scaleopacityblackpb-30: var(--core-color-black-pb30);
    --scaleopacityblackpb-40: var(--core-color-black-pb40);
    --scaleopacityblackpb-5: var(--core-color-black-pb5);
    --scaleopacityblackpb-50: var(--core-color-black-pb50);
    --scaleopacityblackpb-7: var(--core-color-black-pb7);
    --scaleopacityblackpb-70: var(--core-color-black-pb70);
    --scaleopacityblackpb-85: var(--core-color-black-pb85);
    --scaleopacitywhitew-0: var(--core-color-white-w0);
    --scaleopacitywhitew-10: var(--core-color-white-w10);
    --scaleopacitywhitew-100: var(--core-color-white-w100);
    --scaleopacitywhitew-15: var(--core-color-white-w15);
    --scaleopacitywhitew-20: var(--core-color-white-w20);
    --scaleopacitywhitew-50: var(--core-color-white-w50);
    --scaleopacitywhitew-65: var(--core-color-white-w65);
    --scaleopacitywhitew-70: var(--core-color-white-w70);
    --scaleopacitywhitew-80: var(--core-color-white-w80);
    --scaleopacitywhitew-85: var(--core-color-white-w85);
    --theme-line-line-1: var(--core-color-grey-warm-g700);
    --theme-line-line-10: var(--core-color-white-w20);
    --theme-line-line-11: var(--core-color-white-w15);
    --theme-line-line-2: var(--core-color-grey-warm-g600);
    --theme-line-line-3: var(--core-color-grey-warm-g500);
    --theme-line-line-4: var(--core-color-grey-warm-g400);
    --theme-line-line-5: var(--core-color-grey-warm-g300);
    --theme-line-line-6: var(--core-color-grey-warm-g200);
    --theme-line-line-7: var(--core-color-grey-warm-g100);
    --theme-line-line-8: var(--core-color-black-pb10);
    --theme-line-line-9: var(--core-color-black-pb5);
    --theme-line-line-brand-pl: var(--core-color-brand-pl);
    --theme-line-line-dark: var(--core-color-grey-warm-g900);
    --theme-line-line-lm: var(--core-color-ramp-lime-lm500);
    --theme-line-line-white: var(--core-color-white-w100);
    --theme-risk-risk-high: var(--core-color-ramp-orange-og600);
    --theme-risk-risk-low: var(--core-color-ramp-lime-lm600);
    --theme-risk-risk-netural: var(--core-color-ramp-indigo-in900);
    --theme-risk-risk-neutral-soft: var(--core-color-ramp-indigo-in50);
    --theme-risk-risk-normal: var(--core-color-ramp-yellow-yl600);
    --theme-risk-risk-very-high: var(--core-color-ramp-red-re700);
    --theme-risk-risk-very-high-soft: var(--core-color-ramp-red-re50);
    --theme-risk-risk-very-low: var(--core-color-ramp-blue-bu800);
    --theme-risk-risk-very-low-soft: var(--core-color-ramp-blue-bu50);
    --theme-surface-surface-0: var(--core-color-grey-warm-g800);
    --theme-surface-surface-1: var(--core-color-grey-warm-g700);
    --theme-surface-surface-10: var(--core-color-black-pb7);
    --theme-surface-surface-11: var(--core-color-white-w15);
    --theme-surface-surface-2: var(--core-color-grey-warm-g500);
    --theme-surface-surface-3: var(--core-color-grey-warm-g400);
    --theme-surface-surface-4: var(--core-color-grey-warm-g300);
    --theme-surface-surface-5: var(--core-color-grey-warm-g200);
    --theme-surface-surface-6: var(--core-color-grey-warm-g100);
    --theme-surface-surface-7: var(--core-color-grey-cool-cg500);
    --theme-surface-surface-8: var(--core-color-grey-cool-cg300);
    --theme-surface-surface-9: var(--core-color-black-pb85);
    --theme-surface-surface-brand-pl: var(--core-color-brand-pl);
    --theme-surface-surface-brand-pn: var(--core-color-brand-pn);
    --theme-surface-surface-bu-1: var(--core-color-ramp-blue-bu800);
    --theme-surface-surface-bu-2: var(--core-color-ramp-blue-bu700);
    --theme-surface-surface-ce: var(--core-color-ramp-celery-ce500);
    --theme-surface-surface-dark: var(--core-color-grey-warm-g900);
    --theme-surface-surface-lm: var(--core-color-ramp-lime-lm500);
    --theme-surface-surface-sf: var(--core-color-ramp-seaform-sf200);
    --theme-surface-surface-white: var(--core-color-white-w100);
    --theme-surface-surface-yl: var(--core-color-ramp-yellow-yl300);
    --theme-txt-txt-0: var(--core-color-grey-warm-g800);
    --theme-txt-txt-1: var(--core-color-grey-warm-g700);
    --theme-txt-txt-2: var(--core-color-grey-warm-g600);
    --theme-txt-txt-3: var(--core-color-grey-warm-g500);
    --theme-txt-txt-5: var(--core-color-black-pb50);
    --theme-txt-txt-6: var(--core-color-white-w70);
    --theme-txt-txt-brand-pl: var(--core-color-brand-pl);
    --theme-txt-txt-brand-pn: var(--core-color-brand-pn);
    --theme-txt-txt-bu-1: var(--core-color-ramp-blue-bu900);
    --theme-txt-txt-dark: var(--core-color-grey-warm-g900);
    --theme-txt-txt-lm: var(--core-color-ramp-lime-lm500);
    --theme-txt-txt-white: var(--core-color-white-w100);
    --underline-r14-font-family: "PretendardK Edition-Regular", Helvetica;
    --underline-r14-font-size: 14px;
    --underline-r14-font-style: normal;
    --underline-r14-font-weight: 400;
    --underline-r14-letter-spacing: 0px;
    --underline-r14-line-height: 20px;
    --underline-r15-font-family: "PretendardK Edition-Regular", Helvetica;
    --underline-r15-font-size: 15px;
    --underline-r15-font-style: normal;
    --underline-r15-font-weight: 400;
    --underline-r15-letter-spacing: 0px;
    --underline-r15-line-height: 20px;
  }
  